---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -readability-function-cognitive-complexity,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -misc-no-recursion,
        -misc-use-anonymous-namespace,
        -misc-use-internal-linkage,
        -misc-include-cleaner,
        -boost-use-ranges,
        -clang-analyzer-optin.core.EnumCastOutOfRange,
        -clang-analyzer-optin.cplusplus.VirtualCall,
        -clang-analyzer-cplusplus.NewDelete,
        -clang-analyzer-unix.BlockInCriticalSection
"
WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*test/)(?!.*_deps/).*$'
FormatStyle:     none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'
  - key: readability-identifier-naming.ClassCase
    value: 'lower_case'
  - key: readability-identifier-naming.StructCase
    value: 'lower_case'
  - key: readability-identifier-naming.EnumCase
    value: 'lower_case'
  - key: readability-identifier-naming.EnumConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.FunctionCase
    value: 'lower_case'
  - key: readability-identifier-naming.MethodCase
    value: 'lower_case'
  - key: readability-identifier-naming.NamespaceCase
    value: 'lower_case'
  - key: readability-identifier-naming.ScopedEnumCase
    value: 'lower_case'
  - key: readability-identifier-naming.ScopedEnumConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.TypeAliasCase
    value: 'lower_case'
  - key: readability-identifier-naming.TypedefCase
    value: 'lower_case'
  - key: readability-identifier-naming.TypeAliasSuffix
    value: '_t'
  - key: readability-identifier-naming.TypedefSuffix
    value: '_t'
